/* common style for small and medium screens starts */
@media screen and (max-width: 991px) {
  /* navigation section */
  .navigation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .logo {
    text-align: center;
  }

  .nav-bar ul {
    flex-direction: column;
  }

  li.list-item {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ececec;
  }

  li.list-item:last-of-type {
    border-bottom: 0;
  }

  li.list-item a {
    width: 100%;
  }

  /* banner section */
  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .banner-info {
    order: 1;
    text-align: left;
  }

  h1 {
    font-size: 3.8rem;
    line-height: 4rem;
  }

  .banner-image {
    margin-top: 0;
  }

  .features {
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* favorite features section */
  .favorite-features {
    grid-template-columns: 1fr;
    max-width: 850px;
    margin: 0 auto;
  }

  /* contact section */
  .contact-section {
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
  }
}
/* common style for small and medium screens ends */

/* extra small screen */
@media screen and (max-width: 575px) {
  section.mg-top {
    margin-top: 60px;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.7rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  .feature-title {
    font-size: 2.6rem;
  }

  .logo {
    font-size: 2.6rem;
    text-align: center;
  }

  li.list-item {
    padding: 10px 0;
  }

  /* features section */
  .feature-images {
    grid-template-columns: 1fr;
  }

  /* favorite features section */
  .favorite-features-image img {
    height: auto;
  }

  .experience {
    width: 150px;
    height: 90px;
    padding: 2rem;
  }

  .year {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  .tx-light {
    font-size: 0.7rem;
  }

  /* some fact section */
  .fact-boxes {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  /* sponsor section */
  .sponsor-companies {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-top: 70px;
  }

  /* contact section */
  .contact-title {
    font-size: 45px;
    line-height: 56px;
  }

  .mail-and-phone {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .name-and-email {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
  }

  /* footer section */
  footer {
    margin-top: 70px;
  }
}

/* small screen */
@media screen and (min-width: 576px) and (max-width: 767px) {
  section.mg-top {
    margin-top: 75px;
  }

  .experience {
    width: 220px;
    height: 100px;
  }

  .year {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .tx-light {
    font-size: 1rem;
  }

  /* some fact section */
  .fact-boxes {
    max-width: 522px;
    margin: 100px auto 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  /* sponsor section */
  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 70px;
  }

  /* contact section */
  .contact-title {
    font-size: 55px;
    line-height: 68px;
  }

  /* footer section */
  footer {
    margin-top: 75px;
  }
}

/* medium screen */
@media screen and (min-width: 768px) and (max-width: 991px) {
  section.mg-top {
    margin-top: 90px;
  }

  /* some fact section */
  .some-facts > .section-header {
    text-align: center;
    margin: 0 auto 50px;
  }

  .fact-boxes {
    max-width: 738px;
    margin: 100px auto 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  .single-fact-box {
    width: 350px;
  }

  /* sponsor section */
  .sponsor-companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 70px;
  }

  /* footer section */
  footer {
    margin-top: 90px;
  }
}

/* ==================================================================== 
                      large scree starts 
==================================================================== */

/* large screen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  section.mg-top {
    margin-top: 100px;
  }

  .features {
    gap: 60px;
  }

  /* some facts section */
  .fact-boxes {
    max-width: 960px;
    margin: 100px auto 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .single-fact-box {
    width: 300px;
  }

  /* favorite features section */
  .favorite-features {
    grid-template-columns: 1fr;
    max-width: 950px;
    margin: 0 auto;
  }

  /* contact section */
  .contact-title {
    font-size: 55px;
    line-height: 68px;
  }
}
