/* common style for small and medium screens starts */
@media screen and (max-width: 991px) {
  /* navigation section */
  .navigation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .logo {
    text-align: center;
  }

  .nav-bar ul {
    flex-direction: column;
  }

  li.list-item {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ececec;
  }

  li.list-item:last-of-type {
    border-bottom: 0;
  }

  li.list-item a {
    width: 100%;
  }

  /* banner section */
  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .banner-info {
    order: 1;
    text-align: left;
  }

  h1 {
    font-size: 3.8rem;
    line-height: 4rem;
  }

  .banner-image {
    margin-top: 0;
  }

  .features {
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* favorite features section */
  .favorite-features {
    grid-template-columns: 1fr;
    max-width: 850px;
    margin: 0 auto;
  }
}
/* common style for small and medium screens ends */

/* extra small screen */
@media screen and (max-width: 575px) {
  section.mg-top {
    margin-top: 40px;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.7rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  .feature-title {
    font-size: 2.6rem;
  }

  .logo {
    font-size: 2.6rem;
    text-align: center;
  }

  /* features section */
  .feature-images {
    grid-template-columns: 1fr;
  }

  /* favorite features section */
  .favorite-features-image img {
    height: auto;
  }

  .experience {
    width: 180px;
    height: 100px;
  }

  .year {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .tx-light {
    font-size: 1rem;
  }
}

/* small screen */
@media screen and (min-width: 576px) and (max-width: 767px) {
  section.mg-top {
    margin-top: 50px;
  }

  .experience {
    width: 220px;
    height: 100px;
  }

  .year {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .tx-light {
    font-size: 1rem;
  }
}

/* medium screen */
@media screen and (min-width: 768px) and (max-width: 991px) {
  section.mg-top {
    margin-top: 80px;
  }
}

/* ==================================================================== 
                      large scree starts 
==================================================================== */

/* large screen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  section.mg-top {
    margin-top: 100px;
  }

  /* favorite features section */
  .favorite-features {
    grid-template-columns: 1fr;
    max-width: 950px;
    margin: 0 auto;
  }
}

/* extra large screen */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* x-extra large screen */
@media screen and (min-width: 1400px) {
}
