/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
}

section.mg-top {
  margin-top: 130px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 4rem;
  line-height: 4.7rem;
  font-weight: 700;
  margin: 24px 0;
}

h2,
.logo {
  font-size: 2.9rem;
  line-height: 3.3rem;
  font-weight: 700;
  margin: 24px 0;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  margin: 12px 0;
}

ul li {
  list-style: none;
}

a {
  color: #424242;
  text-decoration: none;
  transition: 200ms;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.button {
  padding: 1.2rem 2.9rem;
  border: 2px solid #ff900e;
  border-radius: 5px;
  background-color: #ff900e;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 20px 0;
  cursor: pointer;
}

/* header section starts */
header {
  background-color: rgba(255, 144, 14, 0.1);
}

.navigation,
.nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  padding: 50px 0;
}

.logo {
  margin: 0;
}

nav.nav-bar {
  flex-basis: 477px;
}

.list-item a {
  font-weight: 500;
}

.list-item a:hover {
  color: #131313;
}

/* banner section starts */
#banner {
  padding: 35px 0;
}

.banner-info {
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
}

.banner-image {
  margin-top: 30px;
  padding-bottom: 10px;
}
/* banner section ends */
/* header section ends */
