/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
}

section.mg-top {
  margin-top: 100px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 4rem;
  line-height: 4.7rem;
  font-weight: 700;
}

h2,
.logo {
  font-size: 2.9rem;
  line-height: 3.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 200ms;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

/* header section starts */

/* header section ends */
