/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  /* min-height: 100vh; */
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
}

section.mg-top {
  margin-top: 130px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 4rem;
  line-height: 4.7rem;
  font-weight: 700;
  margin: 24px 0;
}

h2,
.logo {
  font-size: 2.9rem;
  line-height: 3.3rem;
  font-weight: 700;
  margin: 24px 0;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
  margin: 12px 0;
  color: #808285;
}

ul li {
  list-style: none;
}

a {
  color: #424242;
  text-decoration: none;
  transition: 200ms;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.button {
  padding: 1rem 2.5rem;
  border: 2px solid #ff900e;
  border-radius: 5px;
  background-color: #ff900e;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 20px 0;
  cursor: pointer;
}

.section-header.mx-width {
  max-width: 542px;
  margin-bottom: 50px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* header section starts */
header {
  background-color: rgba(255, 144, 14, 0.1);
}

.navigation,
.nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  padding: 50px 0;
}

.logo {
  margin: 0;
}

nav.nav-bar {
  flex-basis: 477px;
}

.list-item a {
  font-weight: 500;
}

.list-item a:hover {
  color: #131313;
}

/* banner section starts */
#banner {
  padding: 35px 0;
}

.banner-info {
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
}

.banner-image {
  margin-top: 30px;
  padding-bottom: 10px;
}
/* banner section ends */
/* header section ends */

/* feature section starts */
.feature-section {
  margin-top: 85px;
}

.features {
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6.8fr 5.2fr;
  gap: 73px;
}

.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature-info {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}

.fw-md {
  font-weight: 500;
  color: #727272;
}

.cl-black {
  color: #131313;
}

.cl-orange {
  color: #ff900e;
}
/* feature section ends */
/* favorite features section starts */
.favorite-features {
  display: grid;
  grid-template-columns: 5.35fr 6.65fr;
  gap: 54px;
}

.section-header {
  margin-bottom: 30px;
}

.b-left {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}

.favorite-item-section {
  display: grid;
  gap: 20px;
}

.favorite-item-box {
  padding: 15px;
  box-shadow: 5px 5px 30px #1313130d, -4px -4px 5px #fbfbfb;
  border-radius: 5px;
}

.favorite-features-image {
  position: relative;
}

.favorite-features-image img {
  width: 89%;
  height: 750px;
  margin-left: auto;
}

.experience {
  width: 250px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff900e;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4rem;
  border-radius: 5px;
}

.year {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.tx-light {
  font-size: 1.2rem;
  font-weight: 500;
}
/* favorite features section ends */
/* fact section starts */
.fact-boxes {
  max-width: 1340px;
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  /* grid-template-columns: repeat(4, 1fr); */
}

.single-fact-box {
  width: 241px;
  height: 241px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
}

.fact-image {
  width: 45px;
  margin: 0 auto;
}

.fact-count-number {
  font-size: 45px;
  font-weight: 600;
  color: #424242;
  margin: 10px auto 5px;
}

.fact-type {
  margin: 0;
}
/* fact section ends */

/* sponsors section starts */
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 30px;
}

.sponsor-companies > img {
  max-width: 180px;
}
/* sponsors section ends */

/* contact section starts */
.contact-section {
  display: grid;
  grid-template-columns: 7.5fr 4.5fr;
  gap: 50px;
}

.contact-title {
  font-family: "DM Sans", sans-serif;
  font-size: 65px;
  line-height: 80px;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px #131313;
}

p.section-description.contact-description {
  max-width: 750px;
  line-height: 28px;
}

.mail-and-phone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
}

.contact-info span i {
  margin-right: 3px;
}

.contact-info h3 {
  color: #ff900e;
  font-weight: 500;
}

.contact-info a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #191919;
}

fieldset {
  border: 0;
  margin-bottom: 30px;
}

.name-and-email {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-form label {
  flex-basis: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #131313;
  border: 1px solid #d4d4d4;
}

textarea {
  width: 100%;
  height: 120px;
}

input#submit-button {
  display: inline;
  width: auto;
  margin: 0;
}

.contact-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blur-shadow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-color: #ff900e;
  border-radius: 50%;
  z-index: -1;
  filter: blur(100px);
}

.contact-image img {
  max-width: 370px;
  max-height: 590px;
  margin: auto;
  border-radius: 185px;
}
/* contact section ends */

/* footer section starts */
footer {
  margin-top: 130px;
}

.copyright-info {
  text-align: center;
  padding: 40px 0;
  background-color: #fff4e7;
  color: #424242;
}

/* <i class="fa-sharp fa-solid fa-angle-up"></i> */
